// Flex container utilities
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

// Flex item utilities
.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-no-grow {
  flex-grow: 0;
}

.flex-no-shrink {
  flex-shrink: 0;
}

// Button

.btn{
    background-color: $color-black;
    color: $color-primary;
    border: none;
    border-radius: 12px;
    padding: 10px 16px;
    cursor: pointer;
}

// Padding utilities
.p-0 {
    padding: 0;
  }
  
  .p-1 {
    padding: 0.25rem;
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  .p-3 {
    padding: 1rem;
  }
  
  .pt-1 {
    padding-top: 0.25rem;
  }
  
  .pr-1 {
    padding-right: 0.25rem;
  }
  
  .pb-1 {
    padding-bottom: 0.25rem;
  }
  
  .pl-1 {
    padding-left: 0.25rem;
  }
  